.profile-button {
    color: #fff;
}

.profile-button:hover {
    color: #80ba24;
}

#showPopup {
    text-align: left;
}

#cover {
    background: #80ba24;
    color: #fff;
    height: 100%;
    margin: 0 0 0 50%;
    position: relative;
    text-align: center;
    transition: margin 0.7s, background 0.5s, display 1s, width 1s;
    width: 50%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cover h1 {
    padding: 20% 0 25px;
}

#cover p {
    font-weight: 300;
    line-height: 22px;
    padding: 30px 45px 40px;
}

.sign-in {
    display: none;
}

.sub {
    position: relative;
    top: -11px;
}

#cover:target {
    background: #80ba24;
    margin: 0;
}

#cover:target .sign-up {
    display: none;
}

#cover:target .sign-in {
    display: inline-block;
}

#popupContainerRP {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#popupRP {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.logout-card {
    width: 70em;
    border: none;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upper {
    height: 25em;
    width: 100%;
    position: relative;
    z-index: 1;
}

.user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.profile-img {
    object-fit: cover;
    width: 100%;
    height: 13em;
    border-bottom: 5px solid;
    border-color: #80ba24;
}
.profile-img {
    object-fit: cover;
    width: 100%;
    height: 13em;
    border-bottom: 5px solid;
    border-color: #80ba24;
}

.profile {
    position: relative;
    width: 12em;
    height: 12em;
    border: 5px solid #80ba24;
    border-radius: 50%;
    overflow: hidden;
}

.profile img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.3s ease;
}



.profile:hover .overlay {
    opacity: 1;
}


.profile_informations {
    margin-top: -5em;
}

.btn-close-custom {
    box-sizing: content-box;
    width: 1.5em;
    height: 1.5em;
    padding: 0.25em;
    color: #DB0005;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23d9534f'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1.5em 1.5em no-repeat;
    border: 0;
    border-radius: 0.375rem;
}

.coverSwitchBtn {
    border: none;
    border-radius: 25px;
    background-color: #fff;
    font-weight: bold;
    color: #80ba24;
    cursor: pointer;
    font-size: 11px;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 15px 50px;
    text-transform: uppercase;
}

.submit-btn {
    background: #80ba24;
}

#resetPassword h1 {
    color: #80ba24;
}

#resetPassword p {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
}

.greenHeadline {
    color: #80ba24;
}

#resetPassword p {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
}

#grid-item .submit-btn {
    background: #80ba24;
    color: #fff;
}

.section-img {
    width: 100%;
    height: 100%;
}

.logout-btn {
    display: inline-block;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.logout-btn:hover {
    color: white;
    background-color: rgb(208, 3, 3);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 80vw;
    margin: 0 auto;
    position: absolute;
    width: 80vw;
    height: 40vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    align-items: center;
}

.grid-item {
    text-align: center;
    max-height: 60em;
    overflow: auto;
}

#forgot-pass {
    border-bottom: 1px solid #ccc;
    color: #80ba24;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.3px;
    padding: 3px;
    text-decoration: none;
}

#info {
    background: #eaeaea;
    color: #555;
    padding: 20px;
    text-align: center;
}

#popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 101;
}

#popupContainerLogout {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 101;
}

#popup {
    position: absolute;
    width: 80vw;
    height: 40em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

#setNewPassword {
    color: #80ba24;
    margin-top: 15vh;
    margin-bottom: 1em;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="file"],
#specialization{
    background: #f4f8f7;
    border: none;
    font-weight: 300;
    margin: 5px;
    width: 85%;
    padding: 10px;
}

#confirmNewPasswordBtn {
    border: none;
    border-radius: 25px;
    color: #fff;
    background-color: #80ba24;
    cursor: pointer;
    font-size: 11px;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 15px 50px;
    text-transform: uppercase;
}

.editProfileDialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: flex;
}

.editProfile-content{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.editProfileHeader {
    display: flex; /* Verwenden Sie Flexbox */
    justify-content: space-between; /* Platziert die Elemente horizontal mit Abstand dazwischen */
    align-items: center; /* Zentriert die Elemente vertikal in der Mitte */
}

.editProfileHeader h1 {
    text-align: center; /* Zentriert den Text horizontal */
    flex-grow: 1; /* Lässt die Überschrift wachsen, um den verbleibenden Platz einzunehmen */
}
#editProfileIcon{
    color: #80ba24;
}

#closeEditDialog {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1em;
    margin-right: 1em;
}
@media (max-width: 768px) {
    .logout-card {
        width: 80vw;
    }

    #popupContainer {
        overflow: scroll;
    }

    #cover {
        color: #fff;
        margin: 30em 0 0 0;
        text-align: center;
        transition: margin 0.7s, background 0.5s, display 1s, width 1s;
        z-index: 5;
        position: absolute;
        width: 80vw;
        height: 30em;
        top: 15em;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #popup {
        position: absolute;
        height: 60em;
        width: 80vw;
        top: 40em;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
    }

    .grid-container {
        height: 60em;
        width: 80vw;
        display: grid;
        grid-template-columns: 1fr;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        grid-auto-rows: 1fr;
    }

    .grid-item {
        text-align: center;
        max-height: 60em;
        overflow: auto;
    }
}