<div class="web_container">
	<div id="canvasContainer">
		<canvas id="characterCanvas" width="800" height="500"></canvas>
	</div>
	<div id="formContainer">
		<form class="web_form">
            <label>{{ 'Heigth'|trans }}:</label>
			<input class="mb-2" id="y" type="range" value="50" min="0" max="100">
            <label>{{ 'Width'|trans }}:</label>
			<input class="mb-2"  id="x1" type="range" value="50" min="0" max="100">
            <label>{{ 'Depth'|trans }}</label>
			<input class="mb-2"  id="x2" type="range" value="50" min="0" max="100">
            <label>{{ 'Color'|trans }}:</label>
			<input class="mb-2 w-100" id="color" type="color" value="#80ba24">
		</form>
		<div id="wrapper">
			<div id="controls">
				<button onclick="moveUp()" id="keyboard_key_up" class="movements_control btn btn-primary">
					<i class="fa-solid fa-arrow-up"></i>
				</button>
				<button onclick="moveLeft()" id="keyboard_key_left" class="movements_control btn btn-primary">
					<i class="fa-solid fa-arrow-left"></i>
				</button>
				<button onclick="moveDown()" id="keyboard_key_down" class="movements_control btn btn-primary">
					<i class="fa-solid fa-arrow-down"></i>
				</button>
				<button onclick="moveRight()" id="keyboard_key_right" class="movements_control btn btn-primary">
					<i class="fa-solid fa-arrow-right"></i>
				</button>
			</div>
		</div>
	</div>
</div>
{% do pimcore_head_script().appendFile(asset('static/js/customCube.js')) %}