<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start text-white">
                Copyright &copy; CMS SoSe2023     
            </div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/THMittelhessen" aria-label="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/thm.de" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/school/technische-hochschule-mittelhessen" aria-label="LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="text-decoration-none me-3" href="https://www.thm.de/site/datenschutz.html">
                    {{ 'DataProtection'|trans }}                     
                </a>
                <a class="text-decoration-none" href="https://www.thm.de/site/impressum.html ">
                    {{ 'Imprint'|trans }}            
                </a>
            </div>
        </div>
    </div>
</footer>
