{% if editmode %}
    {{ pimcore_select("valid_size", {
            "store": [
                ["spacer-small", "Klein"],
                ["spacer-medium", "Mittel"],
                ["spacer-large", "Groß"]
            ]
        }) }}
{% endif %}

<div class="{{ pimcore_select("valid_size").getData() }}"></div>
